<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <!-- <link rel="icon" href="../Icons/login.png" type="image/x-icon"> -->
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="chat-container">
        <div class="chat-box">
            <center><h1>Chat App</h1></center>
            <div class="chat-messages" id="chat-messages">
                <!-- Chat messages will be displayed here -->
                <div class="message">
                    <span class="sender">You:</span>
                    <span class="message-body">Hello!</span><br>
                    <span class="sender">You:</span>
                    <span class="message-body">Hello!</span><br>
                    <span class="sender">You:</span>
                    <span class="message-body">Hello!</span><br>
                    <span class="sender">You:</span>
                    <span class="message-body">Hello!</span><br>
                    <span class="sender">You:</span>
                    <span class="message-body">Hello!</span><br>
                    <span class="sender">You:</span>
                    <span class="message-body">Hello!</span><br>
                    <span class="sender">You:</span>
                    <span class="message-body">Hello!</span><br>
                </div>
                
            </div>
            <div id="message-input-container">
                <input type="text" id="message-input" placeholder="Type a message...">
                <button id="send-btn">Send</button>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>