/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 100%;
    height: 100vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}

.chat-box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align messages at the bottom */
    align-items: flex-start; /* Align messages to the left */
    overflow-y: auto;
    padding: 10px;
}

.message {
    padding: 8px 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 70%; /* Adjust the maximum width of each message */
}

.sender {
    font-weight: bold;
}

/* Apply alternate background colors */
.message:nth-child(even) {
    background-color: #f2f2f2; /* Grey background for even messages */
}

.message:nth-child(odd) {
    background-color: #ffffff; /* White background for odd messages */
}

#message-input-container {
    display: flex;
    align-items: center;
    padding: 8px; /* Reduce padding for the input container */
    border-top: 1px solid #ccc;
    background-color: #3498db; /* Blue background color */
}

#message-input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #fff; /* White background color for input */
}

#send-btn {
    padding: 8px 16px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}
